@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap");
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav .nav-heading {
  font-weight: 600;
  font-size: 2.5rem;
}
.main-nav .nav-list {
  display: flex;
  margin-left: 12rem;
}
.main-nav .nav-list .nav-list-item {
  margin-right: 8rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.main-nav .nav-list .nav-list-item:hover {
  cursor: pointer;
}
.main-nav .nav-list .nav-list-item-active {
  border-bottom: 1px solid white;
}
.main-nav .nav-buttons {
  display: flex;
}
.main-nav .nav-buttons .nav-button {
  background-color: transparent;
  padding: 0;
  border: none;
  margin-right: 1.5rem;
}

.main-container {
  position: relative;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: 1420px;
  max-width: 1420px;
  background-image: url("../img/wepik-export-202308011204549AWP.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border: 1rem solid black;
  border-bottom: none;
  margin-bottom: -3rem;
  margin-top: 5rem;
  padding: 3rem 10rem;
}

.first-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-section .first-section-text-div,
.first-section .first-section-text-div-2 {
  line-height: 1.4;
}
.first-section .first-section-text-div .first-section-heading,
.first-section .first-section-text-div-2 .first-section-heading {
  font-weight: 900;
  font-size: 6.5rem;
}
.first-section .first-section-text-div .first-section-heading-2,
.first-section .first-section-text-div-2 .first-section-heading-2 {
  font-weight: 900;
  font-size: 4.6rem;
}
.first-section .first-section-text-div .paragraph-div,
.first-section .first-section-text-div-2 .paragraph-div {
  margin: 3rem 0;
}
.first-section .first-section-text-div .first-section-paragraph,
.first-section .first-section-text-div-2 .first-section-paragraph {
  line-height: 1.9;
  font-weight: 300;
  font-size: 1.5rem;
}
.first-section .first-section-text-div .buttons-div,
.first-section .first-section-text-div-2 .buttons-div {
  display: flex;
  align-items: center;
}
.first-section .first-section-text-div .buttons-div .first-section-btn,
.first-section .first-section-text-div-2 .buttons-div .first-section-btn {
  padding: 2rem 5rem;
  border: none;
  font-weight: 900;
  border-radius: 10px;
}
.first-section .first-section-text-div .first-section-h3,
.first-section .first-section-text-div .first-section-h3-2,
.first-section .first-section-text-div-2 .first-section-h3,
.first-section .first-section-text-div-2 .first-section-h3-2 {
  border-bottom: 1px solid white;
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.first-section .first-section-text-div .first-section-h3:hover,
.first-section .first-section-text-div .first-section-h3-2:hover,
.first-section .first-section-text-div-2 .first-section-h3:hover,
.first-section .first-section-text-div-2 .first-section-h3-2:hover {
  cursor: pointer;
}
.first-section .first-section-text-div .first-section-h3,
.first-section .first-section-text-div-2 .first-section-h3 {
  margin-left: 4rem;
}
.first-section .first-section-image-div,
.first-section .first-section-image-div-2 {
  height: 70rem;
  width: 60rem;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: last baseline;
}
.first-section .first-section-image-div .first-section-image,
.first-section .first-section-image-div-2 .first-section-image {
  height: 72rem;
  width: 62rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.first-section .first-section-image-div-2 {
  height: 45rem;
  width: 60rem;
  margin-top: -5rem;
}
.first-section .first-section-image-2 {
  height: 45rem;
  width: 60rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
}

html {
  position: relative;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-image: url("../img/dark-black-gray-blurred-background-has-little-abstract-light-soft-background-wallpaperdesigngraphic-presentation_532332-526.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

li {
  list-style: none;
}

svg {
  padding: 0;
  height: 25px;
  width: 25px;
  margin-top: 5px;
}

span {
  color: greenyellow;
}

button:hover {
  cursor: pointer;
}